Repository google/fonts, pull requests merged in 2021-03, with the labels that each got.

#3113 Bio for Haruki Wakamatsu (Orelega)
  catalog/designers/harukiwakamatsu/bio.html
  catalog/designers/harukiwakamatsu/haley.png
  catalog/designers/harukiwakamatsu/info.pb
Labels: - Ready for Review, II Catalog

#3155 Manjari: Version 2.000 added
  ofl/manjari/METADATA.pb
  ofl/manjari/Manjari-Bold.ttf
  ofl/manjari/Manjari-Regular.ttf
  ofl/manjari/Manjari-Thin.ttf
  ofl/manjari/upstream.yaml
Labels: - Ready for Review

#3154 Brygada's designers bio added
  catalog/designers/aniawielunska/aniawielunska.png
  catalog/designers/aniawielunska/bio.html
  catalog/designers/aniawielunska/info.pb
  catalog/designers/boryskosmynka/bio.html
  catalog/designers/boryskosmynka/boryskosmynka.png
  catalog/designers/boryskosmynka/info.pb
  catalog/designers/capitalics/bio.html
  catalog/designers/capitalics/capitalics.png
  catalog/designers/capitalics/info.pb
  catalog/designers/mateuszmachalski/bio.html
  catalog/designers/mateuszmachalski/info.pb
  catalog/designers/mateuszmachalski/mateuszmachalski.png
  catalog/designers/przemyslawhoffer/bio.html
  catalog/designers/przemyslawhoffer/info.pb
  catalog/designers/przemyslawhoffer/przemyslawhoffer.png
Labels: -- Ready to push, II Catalog

#3157 Oi: website link added
  ofl/oi/DESCRIPTION.en_us.html
Labels: -- Ready to push, II Description/Metadata

#3169 Binoy Dominic added to Designers field in Gayathri's Metadata
  ofl/gayathri/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3168 Undecase Type designer fixed in info.pb
  catalog/designers/undercasetype/info.pb
Labels: -- Ready to push, II Catalog

#3163 Yoshimichi Ohira bio info added
  catalog/designers/yoshimichiohira/bio.html
  catalog/designers/yoshimichiohira/info.pb
  catalog/designers/yoshimichiohira/yoshimichi_ohira.png
Labels: -- Ready to push, II Catalog

#3177 Zen Dots: Version 1.000; ttfautohint (v1.8.3) added
  ofl/zendots/DESCRIPTION.en_us.html
  ofl/zendots/METADATA.pb
  ofl/zendots/OFL.txt
  ofl/zendots/ZenDots-Regular.ttf
  ofl/zendots/upstream.yaml
Labels: - Ready for Review, II New Font

#3176 Antonio: Version 1.002 added
  ofl/antonio/Antonio-Bold.ttf
  ofl/antonio/Antonio-Light.ttf
  ofl/antonio/Antonio-Regular.ttf
  ofl/antonio/Antonio[wght].ttf
  ofl/antonio/DESCRIPTION.en_us.html
  ofl/antonio/METADATA.pb
  ofl/antonio/OFL.txt
  ofl/antonio/upstream.yaml
Labels: - Ready for Review, II New Font

#3175 Catalog: Vernon Adams
  catalog/designers/vernonadams/bio.html
  catalog/designers/vernonadams/info.pb
Labels: -- Ready to push, II Catalog

#3174 Orelega One: Version 1.1 ; ttfautohint (v1.8.3) added
  ofl/orelegaone/DESCRIPTION.en_us.html
  ofl/orelegaone/METADATA.pb
  ofl/orelegaone/OFL.txt
  ofl/orelegaone/OrelegaOne-Regular.ttf
  ofl/orelegaone/upstream.yaml
Labels: - Ready for Review, II New Font

#3173 Karantina: Version 1.000; ttfautohint (v1.8.3) added
  ofl/karantina/DESCRIPTION.en_us.html
  ofl/karantina/Karantina-Bold.ttf
  ofl/karantina/Karantina-Light.ttf
  ofl/karantina/Karantina-Regular.ttf
  ofl/karantina/METADATA.pb
  ofl/karantina/OFL.txt
  ofl/karantina/upstream.yaml
Labels: - Ready for Review, II New Font

#3171 Monda: Version 2.100; ttfautohint (v1.8.3) added
  ofl/monda/DESCRIPTION.en_us.html
  ofl/monda/METADATA.pb
  ofl/monda/Monda-Bold.ttf
  ofl/monda/Monda-Regular.ttf
  ofl/monda/OFL.txt
  ofl/monda/upstream.yaml
Labels: - Ready for Review, II Font Upgrade

#3206 Amita: fixed Multiple designers
  ofl/amita/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3209 Chathura: Fixed Multiple designers
  ofl/chathura/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3208 Arya: fixed Multiple designers
  ofl/arya/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3207 Arima Madurai: Multiple designers fixed
  ofl/arimamadurai/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3229 Galada: Multiple designers fixed
  ofl/galada/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3228 Ewert: Multiple designers fixed
  ofl/ewert/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3227 Convergence: Multiple designers fixed
  ofl/convergence/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3226 Lekton fix "multiple designers"
  ofl/lekton/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3225 Fixmultipledesigners: Titillium Web
  ofl/titilliumweb/METADATA.pb
Labels: - Ready for Review, II Description/Metadata

#3224 Fixmultipledesigners: Voces
  ofl/voces/METADATA.pb
Labels: - Ready for Review, II Description/Metadata

#3223 Fixmultipledesigners: Underdog
  ofl/underdog/METADATA.pb
Labels: - Ready for Review, II Description/Metadata

#3221 Fixmultipledesigners: Stalinist One & Stalin One
  ofl/stalinistone/METADATA.pb
  ofl/stalinone/METADATA.pb
Labels: - Ready for Review, II Description/Metadata

#3220 Fixmultipledesigners: Sedgwick Ave & Display
  ofl/sedgwickave/METADATA.pb
  ofl/sedgwickavedisplay/METADATA.pb
Labels: - Ready for Review, II Description/Metadata

#3219 Fixmultipledesigners: Ruluko
  ofl/ruluko/METADATA.pb
Labels: - Ready for Review, II Description/Metadata

#3217 catalog/designers/thariqueazeez
  catalog/designers/thariqueazeez/bio.html
  catalog/designers/thariqueazeez/info.pb
  catalog/designers/thariqueazeez/tharique_azeez.png
Labels: -- Ready to push, II Catalog

#3216 Pavanam fix "Multiple Designer"
  ofl/pavanam/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3247 Homenaje: Multiple designer fix
  ofl/homenaje/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3246 Revalia: Multiple designers fix
  ofl/revalia/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3245 Raleway: Multiple designers fix
  ofl/raleway/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3244 Raleway Dots: Multiple designers fix
  ofl/ralewaydots/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3243 Prosto One: Multiple designers fix
  ofl/prostoone/METADATA.pb
Labels: - Ready for Review, II Catalog

#3242 Pirata One: Multiple designer fix
  ofl/pirataone/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3241 Pattaya: Multiple designers fix
  ofl/pattaya/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3240 Oranienbaum: Multiple designers fix
  ofl/oranienbaum/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3239 Meie Script: Multiple designer fixed
  ofl/meiescript/METADATA.pb
Labels: --- to_sandbox, II Catalog

#3236 designers/stevematteson : bio updated
  catalog/designers/stevematteson/bio.html
  catalog/designers/stevematteson/info.pb
  catalog/designers/stevematteson/steve_matteson.jpg
  catalog/designers/stevematteson/steve_matteson.png
Labels: --- to_sandbox, II Catalog

#3253 Concert One: Mutiple Designer fixed
  ofl/concertone/METADATA.pb
Labels: --- to_sandbox, II Description/Metadata

#3252 Brygada 1918: Version 3.006 added
  ofl/brygada1918/Brygada1918-Italic[wght].ttf
  ofl/brygada1918/Brygada1918[wght].ttf
Labels: - Ready for Review, II Fix

#3166 Zen Loop: Version 1.000; ttfautohint (v1.8.3) added
  ofl/zenloop/DESCRIPTION.en_us.html
  ofl/zenloop/METADATA.pb
  ofl/zenloop/OFL.txt
  ofl/zenloop/ZenLoop-Italic.ttf
  ofl/zenloop/ZenLoop-Regular.ttf
  ofl/zenloop/upstream.yaml
Labels: --- to_sandbox, II New Font

#3215 arefruqaa: v1.003
  ofl/arefruqaa/ArefRuqaa-Bold.ttf
  ofl/arefruqaa/ArefRuqaa-Regular.ttf
  ofl/arefruqaa/METADATA.pb
Labels: --- to_sandbox, II Font Upgrade

#2439 encodesanssc: v3.002 added.
  ofl/encodesanssc/DESCRIPTION.en_us.html
  ofl/encodesanssc/EncodeSansSC[wdth,wght].ttf
  ofl/encodesanssc/METADATA.pb
  ofl/encodesanssc/OFL.txt
  ofl/encodesanssc/static/EncodeSansSC-Black.ttf
  ofl/encodesanssc/static/EncodeSansSC-Bold.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedBlack.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedExtraBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedExtraLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedMedium.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedRegular.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedSemiBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-CondensedThin.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedBlack.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedExtraBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedExtraLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedMedium.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedRegular.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedSemiBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExpandedThin.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExtraBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-ExtraLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-Light.ttf
  ofl/encodesanssc/static/EncodeSansSC-Medium.ttf
  ofl/encodesanssc/static/EncodeSansSC-Regular.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedBlack.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedExtraBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedExtraLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedMedium.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedRegular.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedSemiBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiCondensedThin.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedBlack.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedExtraBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedExtraLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedLight.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedMedium.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedRegular.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedSemiBold.ttf
  ofl/encodesanssc/static/EncodeSansSC-SemiExpandedThin.ttf
  ofl/encodesanssc/static/EncodeSansSC-Thin.ttf
Labels: --- to_sandbox, II New Font

#3261 designers/stevematteson : removed link and converted to .png
  catalog/designers/stevematteson/info.pb
  catalog/designers/stevematteson/steve_matteson.jpg
  catalog/designers/stevematteson/steve_matteson.png
Labels: -- Ready to push, II Catalog

#3265 Kapakana: designer name fixed
  ofl/kapakana/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3264 New Tegomin : designer name fixed
  ofl/newtegomin/METADATA.pb
Labels: -- Ready to push, II Description/Metadata

#3248 Alex Brush: Version 1.101 added
  ofl/alexbrush/AlexBrush-Regular.ttf
  ofl/alexbrush/DESCRIPTION.en_us.html
  ofl/alexbrush/METADATA.pb
  ofl/alexbrush/OFL.txt
  ofl/alexbrush/upstream.yaml
Labels: - Ready for Review, II Font Upgrade

#3270 Alex Brush: Version 1.101 added
  ofl/alexbrush/OFL.txt
Labels: -- Ready to push, II Description/Metadata/OFL

#3263 Kufam: Version 1.301; ttfautohint (v1.8.3) added
  ofl/kufam/DESCRIPTION.en_us.html
  ofl/kufam/Kufam-Italic[wght].ttf
  ofl/kufam/Kufam[wght].ttf
  ofl/kufam/METADATA.pb
  ofl/kufam/static/Kufam-Black.ttf
  ofl/kufam/static/Kufam-BlackItalic.ttf
  ofl/kufam/static/Kufam-Bold.ttf
  ofl/kufam/static/Kufam-BoldItalic.ttf
  ofl/kufam/static/Kufam-Italic.ttf
  ofl/kufam/static/Kufam-Medium.ttf
  ofl/kufam/static/Kufam-MediumItalic.ttf
  ofl/kufam/static/Kufam-Regular.ttf
  ofl/kufam/static/Kufam-SemiBold.ttf
  ofl/kufam/static/Kufam-SemiBoldItalic.ttf
  ofl/kufam/upstream.yaml
Labels: -- Ready to push, II Font Upgrade
