Repository google/fonts, pull requests merged in 2021-10, with the labels that each got.

#2380 cairo: v3.116 added
  ofl/cairo/Cairo-Black.ttf
  ofl/cairo/Cairo-Bold.ttf
  ofl/cairo/Cairo-ExtraLight.ttf
  ofl/cairo/Cairo-Light.ttf
  ofl/cairo/Cairo-Regular.ttf
  ofl/cairo/Cairo-SemiBold.ttf
  ofl/cairo/Cairo[wght].ttf
  ofl/cairo/DESCRIPTION.en_us.html
  ofl/cairo/METADATA.pb
  ofl/cairo/OFL.txt
Labels: - Needs confirmation, -- Ready to merge, II Font Upgrade

#3900 Fiona Ross : designer added
  catalog/designers/fionaross/bio.html
  catalog/designers/fionaross/fionaross.png
  catalog/designers/fionaross/info.pb
Labels: - Ready for Review, II Catalog

#3881 Outfit: Version 1.000 added
  ofl/outfit/DESCRIPTION.en_us.html
  ofl/outfit/METADATA.pb
  ofl/outfit/OFL.txt
  ofl/outfit/Outfit[wght].ttf
  ofl/outfit/upstream.yaml
Labels: - Ready for Review, II New Font

#3933 Erin McLaughlin : Bio updated.
  catalog/designers/erinmclaughlin/bio.html
Labels: - Ready for Review, II Catalog

#3929 Julieta Ulanovsky : designer added
  catalog/designers/julietaulanovsky/bio.html
  catalog/designers/julietaulanovsky/info.pb
  catalog/designers/julietaulanovsky/julieta_ulanovsky.png
  catalog/designers/julietaulanovsky/julietaulanovsky.png
Labels: - Ready for Review, II Catalog

#3944 Added bio for Ek Type
  catalog/designers/ektype/bio.html
Labels: II Catalog

#3942 Puppies Play: Version 1.010; ttfautohint (v1.8.3) added
  ofl/puppiesplay/DESCRIPTION.en_us.html
  ofl/puppiesplay/METADATA.pb
  ofl/puppiesplay/OFL.txt
  ofl/puppiesplay/PuppiesPlay-Regular.ttf
  ofl/puppiesplay/upstream.yaml
Labels: - Ready for Review, II New Font

#3907 Natsumi Matsuba : designer added.
  catalog/designers/natsumimatsuba/bio.html
  catalog/designers/natsumimatsuba/info.pb
  catalog/designers/natsumimatsuba/natsumimatsuba.png
Labels: - Ready for Review, II Catalog

#3939 montaguslab/METADATA +registry_default_overrides
  ofl/montaguslab/METADATA.pb
Labels: --- to_sandbox, II Description/Metadata/OFL, II Small Fix

#3904 Gutenberg Labo : designer added
  catalog/designers/gutenberglabo/bio.html
  catalog/designers/gutenberglabo/gutenberglabo.png
  catalog/designers/gutenberglabo/info.pb
Labels: - Ready for Review, II Catalog

#3948 Archivo Narrow: Version 3.001 added
  ofl/archivonarrow/ArchivoNarrow-Italic[wght].ttf
  ofl/archivonarrow/ArchivoNarrow[wght].ttf
  ofl/archivonarrow/OFL.txt
  ofl/archivonarrow/upstream.yaml
Labels: - Ready for Review, II Small Fix

#3936 README mention `fnt`
  README.md
Labels: - Needs Dave's opinion
