Repository google/fonts, pull requests merged in 2022-07, with the labels that each got.

#4855 Alumni Sans Collegiate One: Version 1.010 added
  ofl/alumnisanscollegiateone/AlumniSansCollegiateOne-Italic.ttf
  ofl/alumnisanscollegiateone/AlumniSansCollegiateOne-Regular.ttf
  ofl/alumnisanscollegiateone/DESCRIPTION.en_us.html
  ofl/alumnisanscollegiateone/METADATA.pb
  ofl/alumnisanscollegiateone/upstream.yaml
Labels: --- to sandbox, I New Font

#4828 Silkscreen: Version 1.001; ttfautohint (v1.8.4.7-5d5b) added
  ofl/silkscreen/DESCRIPTION.en_us.html
  ofl/silkscreen/METADATA.pb
  ofl/silkscreen/OFL.txt
  ofl/silkscreen/Silkscreen-Bold.ttf
  ofl/silkscreen/Silkscreen-Regular.ttf
  ofl/silkscreen/upstream.yaml
Labels: --- to sandbox, I New Font

#4832 Aboreto: Version 1.001; ttfautohint (v1.8.4.7-5d5b) added
  ofl/aboreto/Aboreto-Regular.ttf
  ofl/aboreto/METADATA.pb
Labels: - Ready for Review, I New Font

#4875 Fixing module slug in `knowledge.textproto`
  cc-by-sa/knowledge/glossary/terms/counter/term.textproto
  cc-by-sa/knowledge/glossary/terms/icon_font/term.textproto
  cc-by-sa/knowledge/glossary/terms/icon_symbol/term.textproto
  cc-by-sa/knowledge/glossary/terms/material_symbols/term.textproto
  cc-by-sa/knowledge/glossary/terms/parametric_font/term.textproto
  cc-by-sa/knowledge/knowledge.textproto
  cc-by-sa/knowledge/modules/history_of_type/lessons/fitting_the_line/lesson.textproto
  cc-by-sa/knowledge/modules/history_of_type/lessons/justification_hyphenation/content.md
  cc-by-sa/knowledge/modules/history_of_type/lessons/justification_hyphenation/lesson.textproto
  cc-by-sa/knowledge/modules/history_of_type/lessons/the_tight_not_touching_style/lesson.textproto
  cc-by-sa/knowledge/modules/history_of_type/lessons/the_tight_not_touching_style/thumbnail.svg
  cc-by-sa/knowledge/modules/history_of_type/module.textproto
  cc-by-sa/knowledge/modules/using_type/lessons/installing_and_managing_fonts/lesson.textproto
  cc-by-sa/knowledge/modules/using_type_in_ar_and_vr/lessons/designing_for_ar_vr/lesson.textproto
  cc-by-sa/knowledge/modules/using_type_in_ar_and_vr/lessons/introducing_ar_vr/lesson.textproto
  cc-by-sa/knowledge/modules/using_type_in_ar_and_vr/lessons/spatial_classification_of_typography_in_ar_vr/lesson.textproto
  cc-by-sa/knowledge/modules/using_type_in_ar_and_vr/lessons/technical_challenges_for_typography_in_ar_vr/lesson.textproto
  cc-by-sa/knowledge/modules/using_type_in_ar_and_vr/lessons/type_selection_for_ar_vr/lesson.textproto
Labels: --- to sandbox

#4897 Noto Serif Thai: Version 2.001 added
  ofl/notoserifthai/METADATA.pb
  ofl/notoserifthai/NotoSerifThai[wdth,wght].ttf
  ofl/notoserifthai/OFL.txt
  ofl/notoserifthai/article/ARTICLE.en_us.html
  ofl/notoserifthai/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4896 Noto Sans Thai: Version 2.001 added
  ofl/notosansthai/METADATA.pb
  ofl/notosansthai/NotoSansThai[wdth,wght].ttf
  ofl/notosansthai/OFL.txt
  ofl/notosansthai/article/ARTICLE.en_us.html
  ofl/notosansthai/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4895 Noto Sans Telugu: Version 2.003 added
  ofl/notosanstelugu/METADATA.pb
  ofl/notosanstelugu/NotoSansTelugu[wdth,wght].ttf
  ofl/notosanstelugu/OFL.txt
  ofl/notosanstelugu/article/ARTICLE.en_us.html
  ofl/notosanstelugu/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4894 Noto Serif Telugu: Version 2.003 added
  ofl/notoseriftelugu/METADATA.pb
  ofl/notoseriftelugu/NotoSerifTelugu[wght].ttf
  ofl/notoseriftelugu/OFL.txt
  ofl/notoseriftelugu/article/ARTICLE.en_us.html
  ofl/notoseriftelugu/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4888 Noto Sans Bengali: Version 2.003 added
  ofl/notosansbengali/METADATA.pb
  ofl/notosansbengali/NotoSansBengali[wdth,wght].ttf
  ofl/notosansbengali/OFL.txt
  ofl/notosansbengali/article/ARTICLE.en_us.html
  ofl/notosansbengali/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4884 Noto Sans Khmer: Version 2.003 added
  ofl/notosanskhmer/METADATA.pb
  ofl/notosanskhmer/NotoSansKhmer[wdth,wght].ttf
  ofl/notosanskhmer/OFL.txt
  ofl/notosanskhmer/article/ARTICLE.en_us.html
  ofl/notosanskhmer/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4883 Noto Serif Khmer: Version 2.003 added
  ofl/notoserifkhmer/METADATA.pb
  ofl/notoserifkhmer/NotoSerifKhmer[wdth,wght].ttf
  ofl/notoserifkhmer/OFL.txt
  ofl/notoserifkhmer/article/ARTICLE.en_us.html
  ofl/notoserifkhmer/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4866 Noto Serif Georgian: Version 2.002 added
  ofl/notoserifgeorgian/METADATA.pb
  ofl/notoserifgeorgian/NotoSerifGeorgian[wdth,wght].ttf
  ofl/notoserifgeorgian/OFL.txt
  ofl/notoserifgeorgian/article/ARTICLE.en_us.html
  ofl/notoserifgeorgian/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4865 Noto Serif Ethiopic: Version 2.101 added
  ofl/notoserifethiopic/METADATA.pb
  ofl/notoserifethiopic/NotoSerifEthiopic[wdth,wght].ttf
  ofl/notoserifethiopic/OFL.txt
  ofl/notoserifethiopic/article/ARTICLE.en_us.html
  ofl/notoserifethiopic/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4904 Noto Serif Armenian: Version 2.006 added
  ofl/notoserifarmenian/METADATA.pb
  ofl/notoserifarmenian/NotoSerifArmenian[wdth,wght].ttf
  ofl/notoserifarmenian/OFL.txt
  ofl/notoserifarmenian/article/ARTICLE.en_us.html
  ofl/notoserifarmenian/upstream.yaml
Labels: z_Noto, --- to sandbox, I Font Upgrade

#4850 Vazirmatn: Version 33.003 added
  ofl/vazirmatn/DESCRIPTION.en_us.html
  ofl/vazirmatn/METADATA.pb
  ofl/vazirmatn/Vazirmatn[wght].ttf
  ofl/vazirmatn/upstream.yaml
Labels: III Expand glyphset, - Ready for Review, I Font Upgrade

#4863 Noto Sans Ethiopic: Version 2.101 added
  ofl/notosansethiopic/METADATA.pb
  ofl/notosansethiopic/NotoSansEthiopic[wdth,wght].ttf
  ofl/notosansethiopic/OFL.txt
  ofl/notosansethiopic/article/ARTICLE.en_us.html
  ofl/notosansethiopic/upstream.yaml
Labels: -- Needs confirmation, z_Noto, I New Font

#4867 Noto Naskh Arabic: Version 2.013 added
  ofl/notonaskharabic/METADATA.pb
  ofl/notonaskharabic/NotoNaskhArabic[wght].ttf
  ofl/notonaskharabic/OFL.txt
  ofl/notonaskharabic/article/ARTICLE.en_us.html
  ofl/notonaskharabic/upstream.yaml
Labels: z_Noto, I Font Upgrade

#4910 Noto Serif Gujarati: Version 2.102 added
  ofl/notoserifgujarati/METADATA.pb
  ofl/notoserifgujarati/NotoSerifGujarati[wght].ttf
  ofl/notoserifgujarati/OFL.txt
  ofl/notoserifgujarati/article/ARTICLE.en_us.html
  ofl/notoserifgujarati/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4916 Noto Serif Devanagari: Version 2.003 added
  ofl/notoserifdevanagari/METADATA.pb
  ofl/notoserifdevanagari/NotoSerifDevanagari[wdth,wght].ttf
  ofl/notoserifdevanagari/OFL.txt
  ofl/notoserifdevanagari/article/ARTICLE.en_us.html
  ofl/notoserifdevanagari/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4911 Noto Serif Kannada: Version 2.003 added
  ofl/notoserifkannada/METADATA.pb
  ofl/notoserifkannada/NotoSerifKannada[wght].ttf
  ofl/notoserifkannada/OFL.txt
  ofl/notoserifkannada/article/ARTICLE.en_us.html
  ofl/notoserifkannada/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4909 Noto Sans Gujarati: Version 2.102 added
  ofl/notosansgujarati/METADATA.pb
  ofl/notosansgujarati/NotoSansGujarati-Black.ttf
  ofl/notosansgujarati/NotoSansGujarati-Bold.ttf
  ofl/notosansgujarati/NotoSansGujarati-ExtraBold.ttf
  ofl/notosansgujarati/NotoSansGujarati-ExtraLight.ttf
  ofl/notosansgujarati/NotoSansGujarati-Light.ttf
  ofl/notosansgujarati/NotoSansGujarati-Medium.ttf
  ofl/notosansgujarati/NotoSansGujarati-Regular.ttf
  ofl/notosansgujarati/NotoSansGujarati-SemiBold.ttf
  ofl/notosansgujarati/NotoSansGujarati-Thin.ttf
  ofl/notosansgujarati/NotoSansGujarati[wdth,wght].ttf
  ofl/notosansgujarati/OFL.txt
  ofl/notosansgujarati/article/ARTICLE.en_us.html
  ofl/notosansgujarati/upstream.yaml
Labels: -- Needs confirmation, z_Noto, I Font Upgrade

#4931 Noto Sans Lisu: Version 2.102 added
  ofl/notosanslisu/METADATA.pb
  ofl/notosanslisu/NotoSansLisu[wght].ttf
  ofl/notosanslisu/OFL.txt
  ofl/notosanslisu/article/ARTICLE.en_us.html
  ofl/notosanslisu/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4919 Noto Sans Balinese: Version 2.003 added
  ofl/notosansbalinese/METADATA.pb
  ofl/notosansbalinese/NotoSansBalinese[wght].ttf
  ofl/notosansbalinese/OFL.txt
  ofl/notosansbalinese/article/ARTICLE.en_us.html
  ofl/notosansbalinese/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4936 Silkscreen description updated with latest info provided
  ofl/silkscreen/DESCRIPTION.en_us.html
Labels: I Description/Metadata/OFL

#4932 Noto Serif Hebrew: Version 2.003 added
  ofl/notoserifhebrew/METADATA.pb
  ofl/notoserifhebrew/NotoSerifHebrew[wdth,wght].ttf
  ofl/notoserifhebrew/OFL.txt
  ofl/notoserifhebrew/article/ARTICLE.en_us.html
  ofl/notoserifhebrew/upstream.yaml
Labels: -- Needs confirmation, z_Noto, I Font Upgrade

#4851 Noto Rashi Hebrew: Version 1.005 added
  ofl/notorashihebrew/METADATA.pb
  ofl/notorashihebrew/NotoRashiHebrew[wght].ttf
  ofl/notorashihebrew/OFL.txt
  ofl/notorashihebrew/article/ARTICLE.en_us.html
  ofl/notorashihebrew/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4939 Designer added: Dominik Jáger
  catalog/designers/dominikjager/bio.html
  catalog/designers/dominikjager/dominikjager.png
  catalog/designers/dominikjager/info.pb
Labels: - Ready for Review, I Designer profile

#4935 Mplus1 hotfix font name
  ofl/mplus1p/METADATA.pb
  ofl/mplus1p/Mplus1p-Black.ttf
  ofl/mplus1p/Mplus1p-Bold.ttf
  ofl/mplus1p/Mplus1p-ExtraBold.ttf
  ofl/mplus1p/Mplus1p-Light.ttf
  ofl/mplus1p/Mplus1p-Medium.ttf
  ofl/mplus1p/Mplus1p-Regular.ttf
  ofl/mplus1p/Mplus1p-Thin.ttf
Labels: III Small Fix

#4803 MuseoModerno: Version 1.003 added
  ofl/museomoderno/DESCRIPTION.en_us.html
  ofl/museomoderno/METADATA.pb
  ofl/museomoderno/MuseoModerno-Italic[wght].ttf
  ofl/museomoderno/MuseoModerno[wght].ttf
  ofl/museomoderno/upstream.yaml
Labels: III Expand styles, --- to sandbox, I Font Upgrade

#4948 Paolobiagini: bio updated
  catalog/designers/paolobiagini/bio.html
Labels: - Ready for Review, I Designer profile, III Small Fix

#4964 Gulzar: description updated
  ofl/gulzar/DESCRIPTION.en_us.html
Labels: --- to sandbox, I Description/Metadata/OFL

#4840 knowledge/glossary/terms/grade_axis Add example
  cc-by-sa/knowledge/glossary/terms/grade_axis/content.md
Labels: - Ready for Review, I Knowledge

#4907 Noto Serif Gurmukhi: Version 2.003 added
  ofl/notoserifgurmukhi/METADATA.pb
  ofl/notoserifgurmukhi/NotoSerifGurmukhi[wght].ttf
  ofl/notoserifgurmukhi/OFL.txt
  ofl/notoserifgurmukhi/article/ARTICLE.en_us.html
  ofl/notoserifgurmukhi/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4880 Noto Serif Sinhala: Version 2.004 added
  ofl/notoserifsinhala/METADATA.pb
  ofl/notoserifsinhala/NotoSerifSinhala[wdth,wght].ttf
  ofl/notoserifsinhala/OFL.txt
  ofl/notoserifsinhala/article/ARTICLE.en_us.html
  ofl/notoserifsinhala/upstream.yaml
Labels: -- Needs confirmation, z_Noto, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4899 Noto Sans Tamil: Version 2.003 added
  ofl/notosanstamil/METADATA.pb
  ofl/notosanstamil/NotoSansTamil[wdth,wght].ttf
  ofl/notosanstamil/OFL.txt
  ofl/notosanstamil/article/ARTICLE.en_us.html
  ofl/notosanstamil/upstream.yaml
Labels: -- Needs confirmation, z_Noto, I Font Upgrade

#4755 Pinyon Script: Version 1.007; ttfautohint (v1.8.4.7-5d5b) added
  ofl/pinyonscript/DESCRIPTION.en_us.html
  ofl/pinyonscript/METADATA.pb
  ofl/pinyonscript/OFL.txt
  ofl/pinyonscript/PinyonScript-Regular.ttf
  ofl/pinyonscript/upstream.yaml
Labels: III Expand glyphset, --- to sandbox, I Font Upgrade

#4967 Delete thumbnail.svg
  cc-by-sa/knowledge/modules/history_of_type/lessons/the_tight_not_touching_style/thumbnail.svg
Labels: - Ready for Review, I Knowledge

#4972 Reinstate missing articles for Noto fonts not in sandbox yet
  ofl/ofl/notosansethiopic/article/ARTICLE.en_us.html
  ofl/ofl/notosanstamil/article/ARTICLE.en_us.html
  ofl/ofl/notoserifgurmukhi/article/ARTICLE.en_us.html
  ofl/ofl/notoserifsinhala/article/ARTICLE.en_us.html
Labels: z_Noto, I Description/Metadata/OFL

#4968 Figtree: Version 1.000 added
  ofl/figtree/DESCRIPTION.en_us.html
  ofl/figtree/Figtree[wght].ttf
  ofl/figtree/METADATA.pb
  ofl/figtree/OFL.txt
  ofl/figtree/upstream.yaml
Labels: - Ready for Review, I New Font

#4973 Reinstate missing articles for Noto fonts not in sandbox yet (take 2)
  ofl/notosansethiopic/article/ARTICLE.en_us.html
  ofl/notosanstamil/article/ARTICLE.en_us.html
  ofl/notoserifgurmukhi/article/ARTICLE.en_us.html
  ofl/notoserifsinhala/article/ARTICLE.en_us.html
Labels: I Description/Metadata/OFL

#4974 Reinstate missing articles for Noto fonts in sandbox, take 2
  ofl/notorashihebrew/article/ARTICLE.en_us.html
  ofl/notosansarmenian/article/ARTICLE.en_us.html
  ofl/notosansavestan/article/ARTICLE.en_us.html
  ofl/notosansbalinese/article/ARTICLE.en_us.html
  ofl/notosansbengali/article/ARTICLE.en_us.html
  ofl/notosansbuhid/article/ARTICLE.en_us.html
  ofl/notosansdevanagari/article/ARTICLE.en_us.html
  ofl/notosansgeorgian/article/ARTICLE.en_us.html
  ofl/notosansgujarati/article/ARTICLE.en_us.html
  ofl/notosanskannada/article/ARTICLE.en_us.html
  ofl/notosanskhmer/article/ARTICLE.en_us.html
  ofl/notosanslao/article/ARTICLE.en_us.html
  ofl/notosanslisu/article/ARTICLE.en_us.html
  ofl/notosansmalayalam/article/ARTICLE.en_us.html
  ofl/notosanstelugu/article/ARTICLE.en_us.html
  ofl/notosansthai/article/ARTICLE.en_us.html
  ofl/notoserifahom/article/ARTICLE.en_us.html
  ofl/notoserifarmenian/article/ARTICLE.en_us.html
  ofl/notoserifbengali/article/ARTICLE.en_us.html
  ofl/notoserifdevanagari/article/ARTICLE.en_us.html
  ofl/notoserifdogra/article/ARTICLE.en_us.html
  ofl/notoserifethiopic/article/ARTICLE.en_us.html
  ofl/notoserifgeorgian/article/ARTICLE.en_us.html
  ofl/notoserifgujarati/article/ARTICLE.en_us.html
  ofl/notoserifhebrew/article/ARTICLE.en_us.html
  ofl/notoserifkannada/article/ARTICLE.en_us.html
  ofl/notoserifkhmer/article/ARTICLE.en_us.html
  ofl/notoseriflao/article/ARTICLE.en_us.html
  ofl/notoserifmalayalam/article/ARTICLE.en_us.html
  ofl/notoseriftelugu/article/ARTICLE.en_us.html
  ofl/notoserifthai/article/ARTICLE.en_us.html
  ofl/ofl/notosanshebrew/article/ARTICLE.en_us.html
  ofl/ofl/notoserifbalinese/article/ARTICLE.en_us.html
Labels: --- to sandbox, I Description/Metadata/OFL

#4969 Designer added: Erik Kennedy
  catalog/designers/erikkennedy/bio.html
  catalog/designers/erikkennedy/erikkennedy.png
  catalog/designers/erikkennedy/info.pb
Labels: - Ready for Review, I Designer profile

#4944 Noto Sans Hebrew: Version 2.003 added
  ofl/notosanshebrew/METADATA.pb
  ofl/notosanshebrew/NotoSansHebrew[wdth,wght].ttf
  ofl/notosanshebrew/OFL.txt
  ofl/notosanshebrew/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade

#4977 Inter Tight: Version 3.002 added
  ofl/intertight/DESCRIPTION.en_us.html
  ofl/intertight/InterTight-Italic[wght].ttf
  ofl/intertight/InterTight[wght].ttf
  ofl/intertight/METADATA.pb
  ofl/intertight/OFL.txt
  ofl/intertight/upstream.yaml
Labels: - Ready for Review, I New Font

#4987 Noto Sans Oriya: Version 2.002 added
  ofl/notosansoriya/METADATA.pb
  ofl/notosansoriya/NotoSansOriya-Black.ttf
  ofl/notosansoriya/NotoSansOriya-Bold.ttf
  ofl/notosansoriya/NotoSansOriya-Regular.ttf
  ofl/notosansoriya/NotoSansOriya-Thin.ttf
  ofl/notosansoriya/NotoSansOriya[wdth,wght].ttf
  ofl/notosansoriya/OFL.txt
  ofl/notosansoriya/upstream.yaml
Labels: --- to sandbox, I Font Upgrade

#4983 Noto Rashi Hebrew: Version 1.006 added
  ofl/notorashihebrew/METADATA.pb
  ofl/notorashihebrew/NotoRashiHebrew[wght].ttf
  ofl/notorashihebrew/upstream.yaml
Labels: - Ready for Review, I Font Upgrade

#4982 Noto Serif Balinese: Version 2.004; ttfautohint (v1.8.4.7-5d5b) added
  ofl/notoserifbalinese/METADATA.pb
  ofl/notoserifbalinese/NotoSerifBalinese-Regular.ttf
  ofl/notoserifbalinese/OFL.txt
  ofl/notoserifbalinese/upstream.yaml
Labels: --- to sandbox, I Font Upgrade

#4930 Noto Sans Limbu: Version 2.003; ttfautohint (v1.8.4.7-5d5b) added
  ofl/notosanslimbu/METADATA.pb
  ofl/notosanslimbu/NotoSansLimbu-Regular.ttf
  ofl/notosanslimbu/OFL.txt
  ofl/notosanslimbu/article/ARTICLE.en_us.html
  ofl/notosanslimbu/upstream.yaml
Labels: --- to sandbox, I Font Upgrade

#4878 Noto Serif Oriya: Version 1.051 added
  ofl/notoseriforiya/DESCRIPTION.en_us.html
  ofl/notoseriforiya/METADATA.pb
  ofl/notoseriforiya/NotoSerifOriya[wght].ttf
  ofl/notoseriforiya/OFL.txt
  ofl/notoseriforiya/upstream.yaml
Labels: - Ready for Review, I New Font, --- API Tofu, II Indic / Brahmic / Thai / Tai

#4989 Noto Serif Sinhala: Version 2.006 added
  ofl/notoserifsinhala/METADATA.pb
  ofl/notoserifsinhala/NotoSerifSinhala[wdth,wght].ttf
  ofl/notoserifsinhala/upstream.yaml
Labels: z_Noto, - Ready for Review, I Font Upgrade, II Indic / Brahmic / Thai / Tai

#4995 Black Ops One: Version 1.004; ttfautohint (v1.8.4.7-5d5b) added
  ofl/blackopsone/BlackOpsOne-Regular.ttf
  ofl/blackopsone/DESCRIPTION.en_us.html
  ofl/blackopsone/METADATA.pb
  ofl/blackopsone/OFL.txt
  ofl/blackopsone/upstream.yaml
Labels: III Expand glyphset, - Ready for Review, I Font Upgrade

#4996 Lora: Version 3.004 added
  ofl/lora/Lora-Italic[wght].ttf
  ofl/lora/Lora[wght].ttf
  ofl/lora/METADATA.pb
  ofl/lora/OFL.txt
  ofl/lora/upstream.yaml
Labels: --- to sandbox, III Small Fix

#4861 Designer added: Corey Anderson
  catalog/designers/coreyanderson/bio.html
  catalog/designers/coreyanderson/coreyanderson.png
  catalog/designers/coreyanderson/info.pb
Labels: - Ready for Review, I Designer profile

#4997 Corey Anderson: tiny fix to bio
  catalog/designers/coreyanderson/bio.html
Labels: I Designer profile

#4860 Designer added: Tina Anderson
  catalog/designers/tinaanderson/bio.html
  catalog/designers/tinaanderson/info.pb
  catalog/designers/tinaanderson/tinaanderson.png
Labels: - Ready for Review, I Designer profile

#4945 Red Hat Mono: Version 1.023 added
  ofl/redhatmono/METADATA.pb
  ofl/redhatmono/RedHatMono-Italic[wght].ttf
  ofl/redhatmono/RedHatMono[wght].ttf
  ofl/redhatmono/upstream.yaml
Labels: --- to sandbox, I Font Upgrade, III Small Fix

#4947 Red Hat Text: Version 1.023 added
  ofl/redhattext/METADATA.pb
  ofl/redhattext/RedHatText-Italic[wght].ttf
  ofl/redhattext/RedHatText[wght].ttf
  ofl/redhattext/upstream.yaml
Labels: --- to sandbox, I Font Upgrade, III Small Fix

#4975 Specimen: use reversed comma in Adlam samples
  lang/Lib/gflanguages/data/languages/ff_Adlm.textproto
  lang/Lib/gflanguages/data/languages/fuf_Adlm.textproto
Labels: --- to sandbox, I API / Website / Platform

#4991 Specimen: Fix Mundari sample text
  lang/Lib/gflanguages/data/languages/unr_Orya.textproto
Labels: - Ready for Review, I API / Website / Platform

#4929 Noto Serif Tamil: Version 2.003 added
  ofl/notoseriftamil/METADATA.pb
  ofl/notoseriftamil/NotoSerifTamil-Italic[wdth,wght].ttf
  ofl/notoseriftamil/NotoSerifTamil[wdth,wght].ttf
  ofl/notoseriftamil/OFL.txt
  ofl/notoseriftamil/upstream.yaml
Labels: - Ready for Review, I Font Upgrade

#5003 Sono: Version 2.112 added
  ofl/sono/DESCRIPTION.en_us.html
  ofl/sono/METADATA.pb
  ofl/sono/OFL.txt
  ofl/sono/Sono[MONO,wght].ttf
  ofl/sono/upstream.yaml
Labels: --- to sandbox, I New Font, III Custom axes

#4879 Noto Sans Sinhala: Version 2.006 added
  ofl/notosanssinhala/METADATA.pb
  ofl/notosanssinhala/NotoSansSinhala[wdth,wght].ttf
  ofl/notosanssinhala/OFL.txt
  ofl/notosanssinhala/upstream.yaml
Labels: I Font Upgrade, II Indic / Brahmic / Thai / Tai

#5010 Cantarell: [Hotfix] Name ID13 and 14
  ofl/cantarell/Cantarell-Bold.ttf
  ofl/cantarell/Cantarell-BoldOblique.ttf
  ofl/cantarell/Cantarell-Oblique.ttf
  ofl/cantarell/Cantarell-Regular.ttf
Labels: - Ready for Review, I Description/Metadata/OFL, III Small Fix
