Repository google/fonts, pull requests merged in 2022-01, with the labels that each got.

#4183 Smooch Sans: Version 1.010 added
  ofl/smoochsans/DESCRIPTION.en_us.html
  ofl/smoochsans/METADATA.pb
  ofl/smoochsans/OFL.txt
  ofl/smoochsans/SmoochSans[wght].ttf
  ofl/smoochsans/upstream.yaml
Labels: - Ready for Review, II New Font

#4122 League Spartan: Version 2.002 added
  ofl/leaguespartan/DESCRIPTION.en_us.html
  ofl/leaguespartan/LeagueSpartan[wght].ttf
  ofl/leaguespartan/METADATA.pb
  ofl/leaguespartan/OFL.txt
  ofl/leaguespartan/upstream.yaml
Labels: - Ready for Review, II New Font

#4194 Zen Kaku Gothic Antique: Version 1.002 added; Zen Kaku Gothic New: Version 1.002 added
  ofl/zenkakugothicantique/METADATA.pb
  ofl/zenkakugothicantique/OFL.txt
  ofl/zenkakugothicantique/ZenKakuGothicAntique-Black.ttf
  ofl/zenkakugothicantique/ZenKakuGothicAntique-Bold.ttf
  ofl/zenkakugothicantique/ZenKakuGothicAntique-Light.ttf
  ofl/zenkakugothicantique/ZenKakuGothicAntique-Medium.ttf
  ofl/zenkakugothicantique/ZenKakuGothicAntique-Regular.ttf
  ofl/zenkakugothicantique/upstream.yaml
  ofl/zenkakugothicnew/METADATA.pb
  ofl/zenkakugothicnew/OFL.txt
  ofl/zenkakugothicnew/ZenKakuGothicNew-Black.ttf
  ofl/zenkakugothicnew/ZenKakuGothicNew-Bold.ttf
  ofl/zenkakugothicnew/ZenKakuGothicNew-Light.ttf
  ofl/zenkakugothicnew/ZenKakuGothicNew-Medium.ttf
  ofl/zenkakugothicnew/ZenKakuGothicNew-Regular.ttf
  ofl/zenkakugothicnew/upstream.yaml
Labels: I CJK, - Ready for Review

#4211 inter: v3.19 added
  ofl/inter/Inter-Italic[wght].ttf
  ofl/inter/Inter[slnt,wght].ttf
  ofl/inter/Inter[wght].ttf
  ofl/inter/METADATA.pb
Labels: III Expand styles, - Ready for Review

#4215 Piazzolla: Version 2.005 added
  ofl/piazzolla/METADATA.pb
  ofl/piazzolla/Piazzolla-Italic[opsz,wght].ttf
  ofl/piazzolla/Piazzolla[opsz,wght].ttf
Labels: --- to sandbox, II Font Upgrade

#4217 Piazzolla: Version 2.005 added
  ofl/piazzolla/METADATA.pb
  ofl/piazzolla/upstream.yaml
Labels: III Small Fix

#4180 Alumni Sans: Version 1.018 added
  ofl/alumnisans/AlumniSans-Italic[wght].ttf
  ofl/alumnisans/AlumniSans[wght].ttf
  ofl/alumnisans/OFL.txt
  ofl/alumnisans/upstream.yaml
Labels: --- to sandbox, II Font Upgrade

#4209 ofl/aladin/DESCRIPTION.en_us.html updated
  ofl/aladin/DESCRIPTION.en_us.html
Labels: - Ready for Review, II Description/Metadata/OFL

#4236 Update category for Source Serif 4 to Serif
  ofl/sourceserif4/METADATA.pb
Labels: - Ready for Review, II Description/Metadata/OFL, III Small Fix

#4232 Noto Sans+Serif Display: correcting category to DISPLAY
  ofl/notosansdisplay/METADATA.pb
  ofl/notoserifdisplay/METADATA.pb
Labels: - Ready for Review, II Description/Metadata/OFL

#4243 Fredoka: updated metadata and description
  ofl/fredoka/DESCRIPTION.en_us.html
  ofl/fredoka/METADATA.pb
Labels: --- to sandbox, II Description/Metadata/OFL, III Small Fix

#4244 Hubballi: added languages to metadata.pb
  ofl/hubballi/METADATA.pb
Labels: - Ready for Review, II Description/Metadata/OFL, III Small Fix

#4245 League Spartan: added languages to metadata.pb
  ofl/leaguespartan/METADATA.pb
Labels: --- to sandbox, II Description/Metadata/OFL, III Small Fix

#4246 Smoosh Sans: languages added to metadata.pb
  ofl/smoochsans/METADATA.pb
Labels: --- to sandbox, II Description/Metadata/OFL, III Small Fix

#4253 Mirko Velimirović: designer added
  catalog/designers/mirkovelimirović/bio.html
  catalog/designers/mirkovelimirović/info.pb
  catalog/designers/mirkovelimirović/mirkovelimirović.png
Labels: --- to sandbox, II Designer profile

#4231 Wire One: Version 1.102; ttfautohint (v1.8.3) added
  ofl/wireone/DESCRIPTION.en_us.html
  ofl/wireone/METADATA.pb
  ofl/wireone/OFL.txt
  ofl/wireone/WireOne-Regular.ttf
  ofl/wireone/WireOne.ttf
  ofl/wireone/upstream.yaml
Labels: --- to sandbox, II Font Upgrade, III Small Fix

#4255 Wire One: re-added the lang tag
  ofl/wireone/METADATA.pb
Labels: II Description/Metadata/OFL

#4252 Jacques Le Bailly: Designer added
  catalog/designers/jacqueslebailly/bio.html
  catalog/designers/jacqueslebailly/info.pb
  catalog/designers/jacqueslebailly/jacqueslebailly.png
Labels: --- to sandbox, II Designer profile

#4230 Brawler: Version 1.101; ttfautohint (v1.8.3) added
  ofl/brawler/Brawler-Bold.ttf
  ofl/brawler/Brawler-Regular.ttf
  ofl/brawler/DESCRIPTION.en_us.html
  ofl/brawler/METADATA.pb
  ofl/brawler/OFL.txt
  ofl/brawler/upstream.yaml
Labels: --- to sandbox, II Font Upgrade, III Small Fix

#4229 Aubrey: Version 1.102; ttfautohint (v1.8.3) added
  ofl/aubrey/Aubrey-Regular.ttf
  ofl/aubrey/DESCRIPTION.en_us.html
  ofl/aubrey/METADATA.pb
  ofl/aubrey/OFL.txt
  ofl/aubrey/upstream.yaml
Labels: --- to sandbox, II Font Upgrade, III Small Fix

#4222 BhuTuka Expanded One: Version 1.000; ttfautohint (v1.8.3) added
  ofl/bhutukaexpandedone/BhuTukaExpandedOne-Regular.ttf
  ofl/bhutukaexpandedone/DESCRIPTION.en_us.html
  ofl/bhutukaexpandedone/METADATA.pb
  ofl/bhutukaexpandedone/OFL.txt
  ofl/bhutukaexpandedone/upstream.yaml
Labels: --- to sandbox, II New Font

#4240 Rubik Beastly: Update METADATA.pb
  ofl/rubikbeastly/METADATA.pb
Labels: - Ready for Review, II Description/Metadata/OFL
