Repository google/fonts, pull requests merged in 2024-01, with the labels that each got.

#7103 Lora: Version 3.008 added
  ofl/lora/Lora-Italic[wght].ttf
  ofl/lora/Lora[wght].ttf
  ofl/lora/METADATA.pb
  ofl/lora/upstream.yaml
Labels: I Font Upgrade

#7147 Updated lists 05th of January
  to_production.txt
  to_sandbox.txt
Labels: I Tools / workflow / repo

#7128 Amiko: Add metadata
  ofl/amiko/METADATA.pb
Labels: I Description/Metadata/OFL

#7126 Almarai: Add upstream
  ofl/almarai/METADATA.pb
Labels: I Description/Metadata/OFL

#7124 Alegreya: Add upstream
  ofl/alegreya/METADATA.pb
Labels: I Description/Metadata/OFL

#7122 abhayalibre metadata
  ofl/abhayalibre/METADATA.pb
Labels: I Description/Metadata/OFL

#7111 Update upstreams [7/7]
  ofl/tirodevanagarihindi/METADATA.pb
  ofl/tirodevanagarimarathi/METADATA.pb
  ofl/tirodevanagarisanskrit/METADATA.pb
  ofl/tomorrow/METADATA.pb
  ofl/trispace/METADATA.pb
  ofl/turretroad/METADATA.pb
  ofl/varta/METADATA.pb
  ofl/viaodalibre/METADATA.pb
  ofl/vibes/METADATA.pb
  ofl/voces/METADATA.pb
  ofl/vollkornsc/METADATA.pb
  ofl/xanhmono/METADATA.pb
  ofl/yanonekaffeesatz/METADATA.pb
  ofl/yomogi/METADATA.pb
  ofl/zcoolkuaile/METADATA.pb
  ofl/zcoolqingkehuangyou/METADATA.pb
  ofl/zcoolxiaowei/METADATA.pb
Labels: I Description/Metadata/OFL

#7110 Update upstreams [6/7]
  ofl/poiretone/METADATA.pb
  ofl/poppins/METADATA.pb
  ofl/pushster/METADATA.pb
  ofl/questrial/METADATA.pb
  ofl/radley/METADATA.pb
  ofl/rakkas/METADATA.pb
  ofl/rowdies/METADATA.pb
  ofl/sairastencilone/METADATA.pb
  ofl/sansitaswashed/METADATA.pb
  ofl/sarabun/METADATA.pb
  ofl/sedgwickave/METADATA.pb
  ofl/sedgwickavedisplay/METADATA.pb
  ofl/signikasc/METADATA.pb
  ofl/solway/METADATA.pb
  ofl/sora/METADATA.pb
  ofl/spectral/METADATA.pb
  ofl/spectralsc/METADATA.pb
  ofl/srisakdi/METADATA.pb
  ofl/staatliches/METADATA.pb
  ofl/thasadith/METADATA.pb
Labels: I Description/Metadata/OFL

#7109 Update upstreams [5/7]
  ofl/mali/METADATA.pb
  ofl/manrope/METADATA.pb
  ofl/manuale/METADATA.pb
  ofl/markazitext/METADATA.pb
  ofl/merriweather/METADATA.pb
  ofl/merriweathersans/METADATA.pb
  ofl/mohave/METADATA.pb
  ofl/montserrat/METADATA.pb
  ofl/montserratalternates/METADATA.pb
  ofl/niramit/METADATA.pb
  ofl/notable/METADATA.pb
  ofl/odibeesans/METADATA.pb
  ofl/orbitron/METADATA.pb
  ofl/pacifico/METADATA.pb
  ofl/palettemosaic/METADATA.pb
  ofl/pangolin/METADATA.pb
  ofl/petrona/METADATA.pb
  ofl/playfairdisplay/METADATA.pb
  ofl/playfairdisplaysc/METADATA.pb
  ofl/podkova/METADATA.pb
Labels: I Description/Metadata/OFL

#7108 Update upstreams [4/7]
  ofl/k2d/METADATA.pb
  ofl/kanit/METADATA.pb
  ofl/kodchasan/METADATA.pb
  ofl/koho/METADATA.pb
  ofl/kreon/METADATA.pb
  ofl/krub/METADATA.pb
  ofl/kulimpark/METADATA.pb
  ofl/lacquer/METADATA.pb
  ofl/lalezar/METADATA.pb
  ofl/lemonada/METADATA.pb
  ofl/librecaslondisplay/METADATA.pb
  ofl/librecaslontext/METADATA.pb
  ofl/livvic/METADATA.pb
  ofl/lobster/METADATA.pb
  ofl/londrinaoutline/METADATA.pb
  ofl/londrinashadow/METADATA.pb
  ofl/londrinasketch/METADATA.pb
  ofl/londrinasolid/METADATA.pb
  ofl/majormonodisplay/METADATA.pb
Labels: I Description/Metadata/OFL

#7098 Protest Guerrilla: Version 2.005; ttfautohint (v1.8.4.7-5d5b) added
  ofl/protestguerrilla/DESCRIPTION.en_us.html
  ofl/protestguerrilla/METADATA.pb
  ofl/protestguerrilla/OFL.txt
  ofl/protestguerrilla/ProtestGuerrilla-Regular.ttf
  ofl/protestguerrilla/upstream.yaml
Labels: I New Font

#7097 Protest Strike: Version 2.005; ttfautohint (v1.8.4.7-5d5b) added
  ofl/proteststrike/DESCRIPTION.en_us.html
  ofl/proteststrike/METADATA.pb
  ofl/proteststrike/OFL.txt
  ofl/proteststrike/ProtestStrike-Regular.ttf
  ofl/proteststrike/upstream.yaml
Labels: I New Font

#7095 Protest Riot: Version 2.005; ttfautohint (v1.8.4.7-5d5b) added
  ofl/protestriot/DESCRIPTION.en_us.html
  ofl/protestriot/METADATA.pb
  ofl/protestriot/OFL.txt
  ofl/protestriot/ProtestRiot-Regular.ttf
  ofl/protestriot/upstream.yaml
Labels: I New Font

#7085 Add designer: Sarah Cadigan-Fried
  catalog/designers/sarahcadiganfried/bio.html
  catalog/designers/sarahcadiganfried/info.pb
  catalog/designers/sarahcadiganfried/sarahcadiganfried.png
Labels: I Designer profile

#7087 Noto Znamenny Musical Notation: Version 1.003; ttfautohint (v1.8.4.7-5d5b) added
  ofl/notoznamennymusicalnotation/DESCRIPTION.en_us.html
  ofl/notoznamennymusicalnotation/METADATA.pb
  ofl/notoznamennymusicalnotation/NotoZnamennyMusicalNotation-Regular.ttf
  ofl/notoznamennymusicalnotation/OFL.txt
  ofl/notoznamennymusicalnotation/article/ARTICLE.en_us.html
  ofl/notoznamennymusicalnotation/upstream.yaml
Labels: I New Font

#7158 Add more upstreams (a,b)
  ofl/amita/METADATA.pb
  ofl/anaheim/METADATA.pb
  ofl/arapey/METADATA.pb
  ofl/arsenal/METADATA.pb
  ofl/arya/METADATA.pb
  ofl/asar/METADATA.pb
  ofl/athiti/METADATA.pb
  ofl/atomicage/METADATA.pb
  ofl/badscript/METADATA.pb
  ofl/bahiana/METADATA.pb
  ofl/barrio/METADATA.pb
  ofl/basic/METADATA.pb
  ofl/bhavuka/METADATA.pb
  ofl/biryani/METADATA.pb
  ofl/bonbon/METADATA.pb
  ofl/bungee/METADATA.pb
  ofl/bungeehairline/METADATA.pb
  ofl/bungeeinline/METADATA.pb
  ofl/bungeeoutline/METADATA.pb
  ofl/bungeeshade/METADATA.pb
Labels: I Description/Metadata/OFL

#7160 More upstreams (e,f)
  ofl/ekmukta/METADATA.pb
  ofl/elsie/METADATA.pb
  ofl/encodesanscondensed/METADATA.pb
  ofl/encodesansexpanded/METADATA.pb
  ofl/encodesanssemicondensed/METADATA.pb
  ofl/encodesanssemiexpanded/METADATA.pb
  ofl/englebert/METADATA.pb
  ofl/fanwoodtext/METADATA.pb
  ofl/federant/METADATA.pb
  ofl/federo/METADATA.pb
  ofl/firamono/METADATA.pb
  ofl/firasans/METADATA.pb
  ofl/firasanscondensed/METADATA.pb
  ofl/firasansextracondensed/METADATA.pb
  ofl/francoisone/METADATA.pb
  ofl/fraunces/METADATA.pb
Labels: I Description/Metadata/OFL

#7161 More upstreams (g,h)
  ofl/gidugu/METADATA.pb
  ofl/glegoo/METADATA.pb
  ofl/goudybookletter1911/METADATA.pb
  ofl/graduate/METADATA.pb
  ofl/gurajada/METADATA.pb
  ofl/hind/METADATA.pb
  ofl/hindcolombo/METADATA.pb
  ofl/hindguntur/METADATA.pb
  ofl/hindjalandhar/METADATA.pb
  ofl/hindkochi/METADATA.pb
  ofl/hindmadurai/METADATA.pb
  ofl/hindmysuru/METADATA.pb
  ofl/hindsiliguri/METADATA.pb
  ofl/hindvadodara/METADATA.pb
Labels: I Description/Metadata/OFL

#7154 Updated lists of 12th january
  to_production.txt
  to_sandbox.txt
Labels: I Tools / workflow / repo

#7105 Update upstreams [1/7]
  ofl/alata/METADATA.pb
  ofl/alegreyasans/METADATA.pb
  ofl/alegreyasanssc/METADATA.pb
  ofl/alegreyasc/METADATA.pb
  ofl/amaranth/METADATA.pb
  ofl/amaticsc/METADATA.pb
  ofl/archivoblack/METADATA.pb
  ofl/arefruqaa/METADATA.pb
  ofl/b612/METADATA.pb
  ofl/b612mono/METADATA.pb
  ofl/baijamjuree/METADATA.pb
  ofl/ballet/METADATA.pb
  ofl/barlow/METADATA.pb
  ofl/barlowcondensed/METADATA.pb
  ofl/barlowsemicondensed/METADATA.pb
  ofl/bebasneue/METADATA.pb
  ofl/bellefair/METADATA.pb
  ofl/bellota/METADATA.pb
  ofl/bellotatext/METADATA.pb
  ofl/bethellen/METADATA.pb
Labels: I Description/Metadata/OFL

#7107 Update upstreams [3/7]
  ofl/epilogue/METADATA.pb
  ofl/exo/METADATA.pb
  ofl/fahkwang/METADATA.pb
  ofl/farro/METADATA.pb
  ofl/firacode/METADATA.pb
  ofl/fragmentmono/METADATA.pb
  ofl/girassol/METADATA.pb
  ofl/goldman/METADATA.pb
  ofl/grandstander/METADATA.pb
  ofl/grenze/METADATA.pb
  ofl/grenzegotisch/METADATA.pb
  ofl/gupter/METADATA.pb
  ofl/hinamincho/METADATA.pb
  ofl/homenaje/METADATA.pb
  ofl/inconsolata/METADATA.pb
  ofl/inriasans/METADATA.pb
  ofl/inriaserif/METADATA.pb
  ofl/inter/METADATA.pb
  ofl/josefinsans/METADATA.pb
  ofl/jura/METADATA.pb
Labels: I Description/Metadata/OFL

#7106 Update upstreams [2/7]
  ofl/blinker/METADATA.pb
  ofl/cabin/METADATA.pb
  ofl/caladea/METADATA.pb
  ofl/cantarell/METADATA.pb
  ofl/catamaran/METADATA.pb
  ofl/chakrapetch/METADATA.pb
  ofl/charm/METADATA.pb
  ofl/charmonman/METADATA.pb
  ofl/cinzel/METADATA.pb
  ofl/comfortaa/METADATA.pb
  ofl/comicneue/METADATA.pb
  ofl/courierprime/METADATA.pb
  ofl/crimsonpro/METADATA.pb
  ofl/dmmono/METADATA.pb
  ofl/domine/METADATA.pb
  ofl/ebgaramond/METADATA.pb
  ofl/encodesans/METADATA.pb
  ofl/encodesanssc/METADATA.pb
  ofl/enriqueta/METADATA.pb
Labels: I Description/Metadata/OFL

#7174 Add designer: Raphael Alẹ́gbẹ́lẹ́yẹ̀
  catalog/designers/raphaelalegbeleye/bio.html
  catalog/designers/raphaelalegbeleye/info.pb
  catalog/designers/raphaelalegbeleye/raphaelalegbeleye.png
Labels: I Designer profile

#7151 Updated designer name
  ofl/agbalumo/METADATA.pb
Labels: I Description/Metadata/OFL

#7194 Playwrite GB S: Version 1.000 added
  ofl/playwritegbs/DESCRIPTION.en_us.html
  ofl/playwritegbs/METADATA.pb
  ofl/playwritegbs/OFL.txt
  ofl/playwritegbs/PlaywriteGBS-Italic[wght].ttf
  ofl/playwritegbs/PlaywriteGBS[wght].ttf
  ofl/playwritegbs/article/ARTICLE.en_us.html
  ofl/playwritegbs/upstream.yaml
Labels: I New Font

#7199 Fix broken merge of ebgaramond METADATA
  ofl/ebgaramond/METADATA.pb
Labels: I Description/Metadata/OFL NPL

#7201 GB S metadata display name added
  ofl/playwritegbs/METADATA.pb
Labels: I Description/Metadata/OFL

#7175 Add designer: JAMO
  catalog/designers/jamo/bio.html
  catalog/designers/jamo/info.pb
Labels: I Designer profile

#7203 Add sample text for Znamenny
  ofl/notoznamennymusicalnotation/METADATA.pb
Labels: I Description/Metadata/OFL

#7211 [Noto Znamenny] Add znamenny subset to METADATA
  ofl/notoznamennymusicalnotation/METADATA.pb
Labels: -- Needs Meta/Desc/License changes

#7170 Anta: Version 1.000; ttfautohint (v1.8.4.7-5d5b) added
  ofl/anta/Anta-Regular.ttf
  ofl/anta/DESCRIPTION.en_us.html
  ofl/anta/METADATA.pb
  ofl/anta/OFL.txt
  ofl/anta/upstream.yaml
Labels: I New Font

#7204 Annapurna SIL: Version 2.000 added
  ofl/annapurnasil/AnnapurnaSIL-Bold.ttf
  ofl/annapurnasil/AnnapurnaSIL-Regular.ttf
  ofl/annapurnasil/DESCRIPTION.en_us.html
  ofl/annapurnasil/METADATA.pb
  ofl/annapurnasil/OFL.txt
  ofl/annapurnasil/upstream.yaml
Labels: -- Needs confirmation, I New Font, II Indic / Brahmic / Thai / Tai

#7223 Adobe Fonts game dead link
  cc-by-sa/knowledge/modules/choosing_type/lessons/emotive_considerations_for_choosing_typefaces/content.md
Labels: I Knowledge

#7081 Micro 5: Version 1.000; ttfautohint (v1.8.4.7-5d5b) added
  ofl/micro5/DESCRIPTION.en_us.html
  ofl/micro5/METADATA.pb
  ofl/micro5/Micro5-Regular.ttf
  ofl/micro5/OFL.txt
  ofl/micro5/upstream.yaml
Labels: I New Font

#7083 Jacquarda Bastarda 9: Version 1.000; ttfautohint (v1.8.4.7-5d5b) added
  ofl/jacquardabastarda9/DESCRIPTION.en_us.html
  ofl/jacquardabastarda9/JacquardaBastarda9-Regular.ttf
  ofl/jacquardabastarda9/METADATA.pb
  ofl/jacquardabastarda9/OFL.txt
  ofl/jacquardabastarda9/upstream.yaml
Labels: I New Font

#7227 Add designer: Sergej Lebedev
  catalog/designers/sergejlebedev/bio.html
  catalog/designers/sergejlebedev/info.pb
  catalog/designers/sergejlebedev/sergejlebedev.png
Labels: I Designer profile

#7229 notoznamennymusicalnotation: Fix sample text
  ofl/notoznamennymusicalnotation/METADATA.pb
Labels: I Description/Metadata/OFL

#7224 Git pull subtree for `Lang v0.5.16`
  lang/Lib/gflanguages/data/languages/he_Hebr.textproto
Labels: I Lang

#7239 Annapurna SIL: Description updated
  ofl/annapurnasil/DESCRIPTION.en_us.html
Labels: I Description/Metadata/OFL
