Repository google/fonts, pull requests merged in 2024-09, with the labels that each got.

#8083 Set primary scripts (1/16)
  ofl/akayatelivigala/METADATA.pb
  ofl/akshar/METADATA.pb
  ofl/almarai/METADATA.pb
  ofl/anekbangla/METADATA.pb
  ofl/anekdevanagari/METADATA.pb
  ofl/anekgujarati/METADATA.pb
  ofl/anekkannada/METADATA.pb
  ofl/anekmalayalam/METADATA.pb
  ofl/anekodia/METADATA.pb
  ofl/anektamil/METADATA.pb
Labels: I Metadata/OFL

#8131 Fix typos in Alata description
  ofl/alata/DESCRIPTION.en_us.html
Labels: -- Needs Meta/Desc/License changes, I Article/Description

#8084 Set primary scripts (2/16)
  ofl/anektelugu/METADATA.pb
  ofl/angkor/METADATA.pb
  ofl/asar/METADATA.pb
  ofl/bakbakone/METADATA.pb
  ofl/battambang/METADATA.pb
  ofl/blackandwhitepicture/METADATA.pb
  ofl/blackhansans/METADATA.pb
  ofl/bokor/METADATA.pb
  ofl/cambay/METADATA.pb
  ofl/chathura/METADATA.pb
Labels: I Metadata/OFL

#8085 Set primary scripts (3/16)
  ofl/chenla/METADATA.pb
  ofl/chilanka/METADATA.pb
  ofl/content/METADATA.pb
  ofl/cutefont/METADATA.pb
  ofl/dangrek/METADATA.pb
  ofl/delagothicone/METADATA.pb
  ofl/dhurjati/METADATA.pb
  ofl/dokdo/METADATA.pb
  ofl/dongle/METADATA.pb
  ofl/dotgothic16/METADATA.pb
Labels: I Metadata/OFL

#8134 Libre Franklin: Version 3.000 added
  ofl/librefranklin/DESCRIPTION.en_us.html
  ofl/librefranklin/LibreFranklin-Italic[wght].ttf
  ofl/librefranklin/LibreFranklin[wght].ttf
  ofl/librefranklin/METADATA.pb
  ofl/librefranklin/OFL.txt
Labels: III Expand glyphset, I Font Upgrade

#8086 Set primary scripts (4/16)
  ofl/eastseadokdo/METADATA.pb
  ofl/ekmukta/METADATA.pb
  ofl/fasthand/METADATA.pb
  ofl/freehand/METADATA.pb
  ofl/gaegu/METADATA.pb
  ofl/galada/METADATA.pb
  ofl/gamjaflower/METADATA.pb
  ofl/gayathri/METADATA.pb
  ofl/gidugu/METADATA.pb
  ofl/gothica1/METADATA.pb
Labels: I Metadata/OFL

#8087 Set primary scripts (5/16)
  ofl/gowunbatang/METADATA.pb
  ofl/gowundodum/METADATA.pb
  ofl/gugi/METADATA.pb
  ofl/gurajada/METADATA.pb
  ofl/hachimarupop/METADATA.pb
  ofl/hahmlet/METADATA.pb
  ofl/halant/METADATA.pb
  ofl/hanuman/METADATA.pb
  ofl/himelody/METADATA.pb
  ofl/hinamincho/METADATA.pb
Labels: I Metadata/OFL

#8088 Set primary scripts (6/16)
  ofl/hind/METADATA.pb
  ofl/hindguntur/METADATA.pb
  ofl/hindmysuru/METADATA.pb
  ofl/hindsiliguri/METADATA.pb
  ofl/hindvadodara/METADATA.pb
  ofl/hubballi/METADATA.pb
  ofl/jomhuria/METADATA.pb
  ofl/jomolhari/METADATA.pb
  ofl/kaiseidecol/METADATA.pb
Labels: I Metadata/OFL

#8089 Set primary scripts (7/16)
  ofl/kaiseiharunoumi/METADATA.pb
  ofl/kaiseiopti/METADATA.pb
  ofl/kaiseitokumin/METADATA.pb
  ofl/kalam/METADATA.pb
  ofl/kantumruypro/METADATA.pb
  ofl/karlatamilinclined/METADATA.pb
  ofl/karlatamilupright/METADATA.pb
  ofl/karma/METADATA.pb
  ofl/katibeh/METADATA.pb
  ofl/kdamthmorpro/METADATA.pb
Labels: I Metadata/OFL

#8090 Set primary scripts (8/16)
  ofl/khand/METADATA.pb
  ofl/khmer/METADATA.pb
  ofl/khula/METADATA.pb
  ofl/kiwimaru/METADATA.pb
  ofl/kleeone/METADATA.pb
  ofl/kohsantepheap/METADATA.pb
  ofl/kumarone/METADATA.pb
  ofl/laila/METADATA.pb
  ofl/lakkireddy/METADATA.pb
  ofl/liujianmaocao/METADATA.pb
Labels: I Metadata/OFL

#8092 Set primary scripts (10/16)
  ofl/moul/METADATA.pb
  ofl/moulpali/METADATA.pb
  ofl/mplus1/METADATA.pb
  ofl/mplus1code/METADATA.pb
  ofl/mplus1p/METADATA.pb
  ofl/mplus2/METADATA.pb
  ofl/mukta/METADATA.pb
  ofl/muktavaani/METADATA.pb
  ofl/nanumbrushscript/METADATA.pb
  ofl/nanumgothic/METADATA.pb
Labels: I Metadata/OFL

#8093 Set primary scripts (11/16)
  ofl/nanumgothiccoding/METADATA.pb
  ofl/nanummyeongjo/METADATA.pb
  ofl/nanumpenscript/METADATA.pb
  ofl/nats/METADATA.pb
  ofl/newtegomin/METADATA.pb
  ofl/nokora/METADATA.pb
Labels: I Metadata/OFL

#8094 Set primary scripts (12/16)
  ofl/notosansarabicui/METADATA.pb
  ofl/notosansbamum/METADATA.pb
  ofl/notosansbengaliui/METADATA.pb
  ofl/notosanscaucasianalbanian/METADATA.pb
  ofl/notosanscyprominoan/METADATA.pb
  ofl/notosansdevanagariui/METADATA.pb
  ofl/notosanselymaic/METADATA.pb
  ofl/notosansgujaratiui/METADATA.pb
  ofl/notosansgurmukhiui/METADATA.pb
  ofl/notosansindicsiyaqnumbers/METADATA.pb
Labels: I Metadata/OFL

#8178 Update families.csv: Inknut Antiqua
  tags/all/families.csv
Labels: I API / Website / Platform

#8185 Use Kore for Hangul
  ofl/blackandwhitepicture/METADATA.pb
  ofl/blackhansans/METADATA.pb
  ofl/cutefont/METADATA.pb
  ofl/dokdo/METADATA.pb
  ofl/dongle/METADATA.pb
  ofl/eastseadokdo/METADATA.pb
  ofl/gaegu/METADATA.pb
  ofl/gamjaflower/METADATA.pb
  ofl/gothica1/METADATA.pb
  ofl/gowunbatang/METADATA.pb
  ofl/gowundodum/METADATA.pb
  ofl/gugi/METADATA.pb
  ofl/hahmlet/METADATA.pb
  ofl/himelody/METADATA.pb
  ofl/nanumbrushscript/METADATA.pb
  ofl/nanumgothic/METADATA.pb
  ofl/nanumgothiccoding/METADATA.pb
  ofl/nanummyeongjo/METADATA.pb
  ofl/nanumpenscript/METADATA.pb
Labels: I Metadata/OFL

#8184 Noto Sans: Version 2.014 added
  ofl/notosans/DESCRIPTION.en_us.html
  ofl/notosans/METADATA.pb
  ofl/notosans/NotoSans-Italic[wdth,wght].ttf
  ofl/notosans/NotoSans[wdth,wght].ttf
Labels: I Font Upgrade

#8095 Set primary scripts (13/16)
  ofl/notosanskannadaui/METADATA.pb
  ofl/notosanskhmerui/METADATA.pb
  ofl/notosanslaoui/METADATA.pb
  ofl/notosanslycian/METADATA.pb
  ofl/notosansmalayalamui/METADATA.pb
  ofl/notosansmyanmarui/METADATA.pb
  ofl/notosansnko_todelist/METADATA.pb
  ofl/notosansnushu/METADATA.pb
  ofl/notosansoldhungarian/METADATA.pb
  ofl/notosansoriyaui/METADATA.pb
Labels: I Metadata/OFL

#8096 Set primary scripts (14/16)
  ofl/notosanspaucinhau/METADATA.pb
  ofl/notosansphagspa/METADATA.pb
  ofl/notosanssignwriting/METADATA.pb
  ofl/notosanssinhalaui/METADATA.pb
  ofl/notosanssymbols2/METADATA.pb
  ofl/notosanstamilui/METADATA.pb
  ofl/notosansteluguui/METADATA.pb
  ofl/notosansthaiui/METADATA.pb
  ofl/notoserifkhitansmallscript/METADATA.pb
  ofl/notoserifmyanmar/METADATA.pb
Labels: I Metadata/OFL

#8098 Set primary scripts (16/16)
  ofl/poppins/METADATA.pb
  ofl/pottaone/METADATA.pb
  ofl/pragatinarrow/METADATA.pb
  ofl/preahvihear/METADATA.pb
  ofl/rajdhani/METADATA.pb
  ofl/rakkas/METADATA.pb
  ofl/ramabhadra/METADATA.pb
  ofl/ramaraja/METADATA.pb
  ofl/rampartone/METADATA.pb
  ofl/raviprakash/METADATA.pb
Labels: I Metadata/OFL

#8187 To_lists 20th Sept
  to_production.txt
  to_sandbox.txt
Labels: I Tools / workflow / repo

#8188 Update families.csv: Sour Gummy
  tags/all/families.csv
Labels: I API / Website / Platform

#8190 [Knowledge] [History of Typography] Remove placeholder
  cc-by-sa/knowledge/modules/history_of_type/lessons/fitting_the_line/content.md
Labels: I Knowledge

#8192 Update families.csv Playwrite's Active tag values
  tags/all/families.csv
Labels: I API / Website / Platform

#8202 Update families.csv (add Funnel families)
  tags/all/families.csv
Labels: I API / Website / Platform

#8158 Sour Gummy: Version 1.000 added
  ofl/sourgummy/METADATA.pb
  ofl/sourgummy/OFL.txt
  ofl/sourgummy/SourGummy-Italic[wdth,wght].ttf
  ofl/sourgummy/SourGummy[wdth,wght].ttf
  ofl/sourgummy/article/ARTICLE.en_us.html
  ofl/sourgummy/article/image1.png
  ofl/sourgummy/article/image2.png
  ofl/sourgummy/article/image3.png
Labels: -- Needs confirmation, I New Font

#8199 notoseriftodhri: Version 1.000; ttfautohint (v1.8.4.7-5d5b) added
  ofl/notoseriftodhri/DESCRIPTION.en_us.html
  ofl/notoseriftodhri/METADATA.pb
  ofl/notoseriftodhri/NotoSerifTodhri-Regular.ttf
  ofl/notoseriftodhri/OFL.txt
  ofl/notoseriftodhri/article/ARTICLE.en_us.html
Labels: -- Needs confirmation, I New Font
