Repository google/fonts, pull requests merged in 2025-05, with the labels that each got.

#9406 Cal Sans article
  ofl/calsans/article/ARTICLE.en_us.html
Labels: I Article/Description

#9376 Baskervville SC: Version 1.100 added
  ofl/baskervvillesc/BaskervvilleSC-Regular.ttf
  ofl/baskervvillesc/BaskervvilleSC[wght].ttf
  ofl/baskervvillesc/DESCRIPTION.en_us.html
  ofl/baskervvillesc/METADATA.pb
  ofl/baskervvillesc/OFL.txt
  ofl/baskervvillesc/article/ARTICLE.en_us.html
  ofl/baskervvillesc/article/baskervville.png
  ofl/baskervvillesc/article/baskervville2.png
Labels: III VF Replacement, I Font Upgrade

#9412 Nokora: Version 9.000 added
  ofl/nokora/METADATA.pb
  ofl/nokora/Nokora-Black.ttf
  ofl/nokora/Nokora-Bold.ttf
  ofl/nokora/Nokora-Light.ttf
  ofl/nokora/Nokora-Regular.ttf
  ofl/nokora/Nokora-Thin.ttf
  ofl/nokora/Nokora[wght].ttf
Labels: III Expand styles, I Font Upgrade

#9417 Fustat: Version 1.010 added
  ofl/fustat/Fustat[wght].ttf
  ofl/fustat/METADATA.pb
Labels: I Font Upgrade

#9411 Custom sample text for symbol fonts
  ofl/eduauvicwantarrows/METADATA.pb
  ofl/eduauvicwantdots/METADATA.pb
  ofl/librebarcode39/METADATA.pb
Labels: I Metadata/OFL

#9444 Savate: Version 2.000 added
  ofl/savate/METADATA.pb
  ofl/savate/OFL.txt
  ofl/savate/Savate-Italic[wght].ttf
  ofl/savate/Savate[wght].ttf
  ofl/savate/article/ARTICLE.en_us.html
  ofl/savate/article/image1.jpg
  ofl/savate/article/image2.png
  ofl/savate/article/image3.png
  ofl/savate/article/images-license.txt
  ofl/savate/article/video1.mp4
  ofl/savate/article/video2.mp4
  ofl/savate/article/video3.mp4
  ofl/savate/article/video4.mp4
  ofl/savate/article/video5.mp4
  ofl/savate/article/video6.mp4
Labels: I New Font, II African

#9453 Savate: Version 2.000 added
  ofl/savate/METADATA.pb
  ofl/savate/OFL.txt
  ofl/savate/Savate-Italic[wght].ttf
  ofl/savate/Savate[wght].ttf
  ofl/savate/article/ARTICLE.en_us.html
  ofl/savate/article/image1.jpg
  ofl/savate/article/image2.png
  ofl/savate/article/image3.png
  ofl/savate/article/images-license.txt
  ofl/savate/article/video1.mp4
  ofl/savate/article/video2.mp4
  ofl/savate/article/video3.mp4
  ofl/savate/article/video4.mp4
  ofl/savate/article/video5.mp4
  ofl/savate/article/video6.mp4
Labels: I New Font, II African

#9455 savate article
  ofl/savate/article/ARTICLE.en_us.html
Labels: I Article/Description

#9451 removed localised family names
  ofl/cactusclassicalserif/METADATA.pb
  ofl/chocolateclassicalsans/METADATA.pb
  ofl/iansui/METADATA.pb
Labels: I Metadata/OFL

#9463 Update primary script for CJK fonts
  ofl/wdxllubrifontjpn/METADATA.pb
  ofl/wdxllubrifontsc/METADATA.pb
  ofl/wdxllubrifonttc/METADATA.pb
Labels: I Metadata/OFL

#9462 to lists of the 15th of May
  to_delist.txt
  to_production.txt
  to_sandbox.txt
Labels: I Tools / workflow / repo

#9482 Bio for Matangi
  catalog/designers/thegraphicant/bio.html
  catalog/designers/thegraphicant/info.pb
  catalog/designers/thegraphicant/thegraphicant.png
Labels: I Designer profile

#9480 Custom sample text for Qahiri
  ofl/qahiri/METADATA.pb
Labels: --- API Tofu, I Metadata/OFL

#9461 lang v0.7.4
  lang/Cargo.toml
  lang/Lib/gflanguages/data/languages/bal_Arab.textproto
  lang/Lib/gflanguages/data/languages/ff_Adlm.textproto
  lang/Lib/gflanguages/data/languages/kab_Latn.textproto
  lang/Lib/gflanguages/data/languages/kk_Arab.textproto
  lang/Lib/gflanguages/data/languages/kpz_Latn.textproto
  lang/Lib/gflanguages/data/languages/mgz_Latn.textproto
  lang/Lib/gflanguages/data/languages/prs_Arab.textproto
  lang/Lib/gflanguages/data/languages/so_Arab.textproto
Labels: I Lang

#9426 Gidugu: Version 2.000; ttfautohint (v1.8.4.7-5d5b) added
  ofl/gidugu/DESCRIPTION.en_us.html
  ofl/gidugu/Gidugu-Regular.ttf
  ofl/gidugu/METADATA.pb
  ofl/gidugu/OFL.txt
Labels: I Font Upgrade

#9429 LXGW Marker Gothic : 1.001 added
  ofl/lxgwmarkergothic/LXGWMarkerGothic-Regular.ttf
  ofl/lxgwmarkergothic/METADATA.pb
  ofl/lxgwmarkergothic/OFL.txt
  ofl/lxgwmarkergothic/article/ARTICLE.en_us.html
  ofl/lxgwmarkergothic/article/markerg-1.png
Labels: II CJK, I New Font

#9460 update template 'add font'
  .github/ISSUE_TEMPLATE/1_add-font.md
Labels: I Tools / workflow / repo

#9491 Savate designers
  catalog/designers/maxesnee/bio.html
  catalog/designers/plombtype/bio.html
Labels: I Designer profile

#9488 Updated bio for Saber Rastikerdar
  catalog/designers/saberrastikerdar/bio.html
  catalog/designers/saberrastikerdar/info.pb
  catalog/designers/saberrastikerdar/saber.png
Labels: I Designer profile

#9493 Lists of the 22th of May
  to_production.txt
  to_sandbox.txt
Labels: I Tools / workflow / repo

#9511 Update intelonemono/article/ARTICLE.en_us.html
  ofl/intelonemono/article/ARTICLE.en_us.html
Labels: I Article/Description

#9496 Manufacturing Consent: Version 3.000; ttfautohint (v1.8.4.7-5d5b) added
  ofl/manufacturingconsent/METADATA.pb
  ofl/manufacturingconsent/ManufacturingConsent-Regular.ttf
  ofl/manufacturingconsent/OFL.txt
  ofl/manufacturingconsent/article/ARTICLE.en_us.html
  ofl/manufacturingconsent/article/showing.jpg
Labels: I New Font, II Accepted
